<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whiteboard</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>To do</h1>

    <form action="todo" method="post">
        <input type="text" name="todo" placeholder="Enter your todo"></input>
    </form>

    <ul>
        <% todos.forEach(function(todo) { %>
            <li class=<%=todo.done ? "done" : "" %>>
                <a class='todo' href='/toggle_todo/<%= todo.id %>'><%= todo.text %></a>
            </li>
        <% }); %>
    </ul>

</body>
