<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple todo app</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Knewave">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
</head>

<body>

    <header>
        <a href='/'>Todo app</a>
    </header>

    <section>
        <h1>Get organised!</h1>
        <p>Use this list to plan out your tasks for the day.</p>

        <form action="todo" method="post">
            <input type="text" name="todo" placeholder="Enter your todo"></input>
        </form>

        <ul>
            <% todos.forEach(function(todo) { %>
                <li class=<%=todo.done ? "done" : "" %>>
                    <a class='todo' href='/toggle-todo/<%= todo.id %>'><%= todo.text %></a>
                    <a class='remove-todo' href='/remove-todo/<%= todo.id %>'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                </li>
            <% }); %>
        </ul>
    </section>

</body>
