/**********/
/* Layout */
/**********/

header {
    background-color: #19b5fE;
    box-sizing: border-box;
    height: 60px;
    padding: 10px 50px;
}

section {
    max-width: 600px;
    text-align: center;
}

form {
    margin: 20px 0;
}

form input {
    width: 100%;
    padding: 10px;
}

ul {
    text-align: left;
    padding-left: 0;
}

li {
    list-style-type: none;
}

.todo-item.well {
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
}

.todo-item.well span {
    flex: 1 1 auto;
}

.todo-item.well a {
    flex: 0 0 auto;
    padding-left: 10px;
}

/*************/
/* Typography*/
/*************/

header a {
    font-family: 'Knewave', cursive;
    font-size: 32px;
    color: #fff;
    line-height: 40px;
}

header a:hover {
    color: #fff;
}

section {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

form input {
    border-color: #19b5fE;
    border-radius: 4px;
}

.done {
    text-decoration: line-through;
}

.complete-todo {
    color: #00b16a;
}

.complete-todo:hover {
    color: #1e824c;
}

.remove-todo {
    color: #d91e18;
}

.remove-todo:hover {
    color: #c0392b;
}
